.fa-shower{
    color: #fff;
}

.circle{
    width: 140px;
    height: 140px;
    background-color: #8CC63F;
    border-radius: 50%;
}

.col-content{
    background-color: #fff;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 2.5s ease-in-out;
-moz-animation: fadeIn 2.5s ease-in-out;
-o-animation: fadeIn 2.5s ease-in-out;
animation: fadeIn 2.5s ease-in-out;
}