.fa-shower{
    color: #fff;
}

.circle{
    width: 140px;
    height: 140px;
    background-color: #137030;
    border-radius: 50%;
}

.col-content{
    background-color: #fff;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.fadeIn {
-webkit-animation: fadeIn 2.5s ease-in-out;
-moz-animation: fadeIn 2.5s ease-in-out;
-o-animation: fadeIn 2.5s ease-in-out;
animation: fadeIn 2.5s ease-in-out;
}

#img-map{
    width: 200px;
    height: 400px;
}

.card-map{
    background-image: url('/assets/img/background.png');
    border-radius: 30px !important;
}

.card-plataform{
    background-image: url('/assets/img/plataforms.png');
    border-radius: 30px !important;
    background-repeat: no-repeat;
}

.line-map{
    color: #EFEFEF;
}

.card{
    border-radius: 30px !important;
}

#img-commentarie{
    margin-left: 300px;
}

.text-commentarie{
    line-height: 1.9;
}