
<div class="mt-5 fadeIn2 teste" id="main-content" *ngIf = "scrollPositionDetail">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <h3><strong>O que você está procurando para seu amiguinho?</strong></h3>
                </div>
            </div>
            <div class="row mt-5 ml-2 mr-2">
                <div class="col col-content border border-light rounded mr-2">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="circle mx-auto">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto mt-3">
                                        <i class="fas fa-shower fa-5x  mt-2 mb-2 ml-2 mr-2"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <h5 class="mt-3 mr-1"><strong>Banho e tosa</strong></h5>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mt-2">
                        <div class="col-md-auto">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-content border border-light rounded mr-2">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="circle mx-auto">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto mt-3">
                                            <i class="fas fa-briefcase-medical fa-5x  mt-2 mb-2 ml-2 mr-2" style="color:#fff;"></i>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <h5 class="mt-3 mr-1"><strong>Consultas veterinárias</strong></h5>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mt-2">
                        <div class="col-md-auto">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-content border border-light rounded">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="circle mx-auto">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-auto mt-2">
                                        <img src="/assets/img/toys.png" style="width: 100px;" class="mt-2 mb-2 ml-2 mr-2 pb-2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <h5 class="mt-3 mr-1"><strong>Produtos diversificados</strong></h5>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mt-2">
                        <div class="col-md-auto">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-5 card-map fadeIn2" *ngIf = "scrollPositionMap">
    <div class="card-body  border border-light rounded">
        <div class="row">
            <div class="col-9" >
                <div class="row justify-content-md-center line-map" id="first-line-map">
                    <div class="col-md-auto">
                        <span style="font-size: 6em; color: #EFEFEF;">
                            <i class="fas fa-paw fx-2"></i>
                        </span>
                    </div>
                </div>
                <div class="row justify-content-md-center line-map">
                    <div class="col-md-auto">
                        <h1><strong>Tudo pertinho de você, </strong></h1>
                    </div>
                </div>
                <div class="row justify-content-md-center line-map">
                        <div class="col-md-auto">
                            <h1><strong> com os melhores preços</strong></h1>
                        </div>
                </div>
                <div class="row justify-content-md-center line-map">
                        <div class="col-md-auto">
                            <h1><strong>em apenas alguns passos!</strong></h1>
                        </div>
                </div>
            </div>
            <div class="col float-right">
                <img src="/assets/img/iphoneMaps.png" id="img-map"alt="">
            </div>
        </div>
    </div>
</div>


<div class="card mt-5 fadeIn2 mb-5" *ngIf="scrollPositionCommentarie">
        <div class="card-body  border border-light rounded">
            <div class="row">
                <div class="col">
                    <img src="/assets/img/commentaries.png" alt="">
                </div>
                <div class="col" >
                    <div class="row justify-content-md-center mt-5">
                        <div class="col-md-auto">
                            <h2 class="mr-5 mt-5"><strong>Quem usa, confia!</strong></h2>
                        </div>
                        <div class="col-md-auto mt-5">
                            <p class="text-justify mr-5 text-commentarie">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                 incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut.
                                  Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. Suspendisse
                                   ultrices gravida dictum fusce ut placerat. Arcu vitae elementum curabitur vitae nunc.
                                    Elementum nisi quis eleifend quam. Sit amet nisl purus in mollis. Nulla pharetra diam sit amet nisl suscipit. Bibendum neque egestas congue quisque egestas diam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="card mt-5 card-plataform fadeIn2" *ngIf="scrollPositionPlataforms">
        <div class="card-body" style="height: 500px;">
            
        </div>
</div>



