<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
  <div class="mx-auto">
    <img src="assets/img/logobranca.svg" class="ml-3 mt-3 mb-3 mr-5" alt="" id="img-nav">
  </div>
</nav>
<div class="main-img">
  <div class="row">
    <div class="col-6">
      <button class="btn button-icon">
        <div class="row">
          <div class="col-3">
              <img src="/assets/img/logo-icone-white.png" id="icon-white" alt="icon white">
          </div>
          <div class="col mt-1">
              <h1><strong>Saiba mais</strong></h1>
          </div>
        </div> 
      </button>
    </div>
    <div class="col">
        <div class="row justify-content-md-center line-map mt-5" id="first-line-map">
            <div class="col-md-auto">
                <h1 class="text-img line"> <strong> Encontre o que há de</strong></h1>
            </div>
        </div>
        <div class="row justify-content-md-center" id="first-line-map">
            <div class="col-md-auto">
                <h1 class="text-img"> <strong>  melhor para quem sempre </strong></h1>
            </div>
        </div>
        <div class="row justify-content-md-center" id="first-line-map">
            <div class="col-md-auto">
                <h1 class="text-img"> <strong>esteve ao seu lado! </strong></h1>
            </div>
        </div>
    </div>
  </div>

</div>    
<div class="container mb-5">
  <app-content></app-content>
</div>